# Contents:
## 1. Importing libraries
## 2. If statement to create a price range column
## 3. Creating the busiest days of the week column
## 4. Creating busiest hour of the day

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# defining path
path=r'C:\Users\akul_\OneDrive\Documents\Tarishi\CF Data analysis bootcamp\Achievement 4-Python\Instacart Basket Analysis'

In [3]:
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_final.pkl'))

In [4]:
# create a subset
df=df_ords_prods_merge[:1000000]

In [5]:
# Defining a function to create price range labels
def price_label(row):
    if row['prices']<5:
        return 'Low-range product'
    elif (row['prices']>5) and (row['prices']<=15):
        return 'Mid-range product'
    elif row['prices']>15:
        return 'High-range product'
    else: return 'Not enough data'

In [6]:
# apply the function and create a new column called price_range
df['price_range']=df.apply(price_label, axis=1)

C:\Users\akul_\AppData\Local\Temp\ipykernel_7468\3618672256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']=df.apply(price_label, axis=1)

In [7]:
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product     673183
Low-range product     307024
High-range product     12425
Not enough data         7368
Name: count, dtype: int64

In [8]:
df['prices'].max()

99999.0

## if statements with the loc() function

In [9]:
# creating different price labels without using if statement and using loc function instead
df.loc[df['prices']>15, 'price_range_loc']= 'High_end_product'

C:\Users\akul_\AppData\Local\Temp\ipykernel_7468\1748159041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']>15, 'price_range_loc']= 'High_end_product'

In [10]:
df.loc[(df['prices']<=15) & (df['prices']>5), 'price_range_loc']= 'Mid_range_product'

In [11]:
df.loc[df['prices']<=5, 'price_range_loc']= 'Low_range_product'

In [12]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid_range_product    673183
Low_range_product    314392
High_end_product      12425
Name: count, dtype: int64

## The for-loop

In [13]:
# check the frequency of busiest day of the week for orders
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [15]:
df_ords_prods_merge

,order_id,user_id,no_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6
32404855,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9
32404856,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2
32404857,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9
32404858,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7

In [20]:
result=[]
for value in df_ords_prods_merge['orders_day_of_week']:
   if value==0:
       result.append('Busiest day')
   elif value==4:
       result.append('Least busy')
   else:
       result.append('Regularly busy')

In [ ]:
result

In [25]:
df_ords_prods_merge['Busiest day']= result

In [26]:
df_ords_prods_merge['Busiest day'].value_counts(dropna=False)

Busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task 4.7

## 01 Recreating the busiest day column

In [30]:
# Create a for loop 
result=[]
for value in df_ords_prods_merge['orders_day_of_week']:
   if value in [0,1]:
       result.append('Busiest days')
   elif value in [3,4]:
       result.append('Least busy')
   else:
       result.append('Regularly busy')

In [31]:
# create a new column 

df_ords_prods_merge['Busiest days']=result

In [32]:
df_ords_prods_merge['Busiest days'].value_counts(dropna=False)

Busiest days
Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: count, dtype: int64

## 02 Busiest hour of the day

In [33]:
# check the frequency of order_hour_of_day
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [34]:
# creating for-loop
busyhour=[]
for value in df_ords_prods_merge['order_hour_of_day']:
    if value in [10,11,14,15,13,12,16,9]:
        busyhour.append('Most orders')
    elif value in [17,8,18,19,20,7,21,22,23]:
        busyhour.append('Average orders')
    else:
        busyhour.append('Fewest orders')

In [35]:
df_ords_prods_merge['Busiest_period_of_day']=busyhour

In [36]:
df_ords_prods_merge['Busiest_period_of_day'].value_counts(dropna=False)

Busiest_period_of_day
Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: count, dtype: int64

In [39]:


df_ords_prods_merge.shape

(32404859, 17)

In [40]:
# exporting pickle file 
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_final.pkl'))