In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating path
path=r'C:\Users\akul_\OneDrive\Documents\Tarishi\CF Data analysis bootcamp\Achievement 4-Python\Instacart Basket Analysis'

# Importing dataframes

In [3]:
#importing merged dataframe
df_merged_large=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [4]:
df_merged_large.shape

(32434489, 10)

In [5]:
df_merged_large.head()

,order_id,user_id,no_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
# import products data
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'products_checked.csv'), index_col=False)

In [7]:
df_prods.shape

(49672, 5)

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## merging datasets using product_id

In [9]:
# merging the two data sets
# not using indicator=True command since the previous orders_products_combined data already has that column 
df_ords_prods_merge=df_merged_large.merge(df_prods,on=['product_id'])

In [10]:
df_ords_prods_merge.head()

,order_id,user_id,no_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [11]:
df_ords_prods_merge.shape

(32404859, 14)

In [12]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
# exporting the dataframe as a pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_final.pkl'))